[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
beautifulsoup4 = "*"
squarify = "*"
pandarallel = "*"
gensim = "*"
pyldavis = "*"
notebook = "*"

[dev-packages]

[requires]
python_version = "3.8"
